<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AirSonos</title>
    <meta name="viewport" content="width=device-width">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-25136677-4', 'stephen.github.io');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <section class="page" id="main">
      <div class="title">
        <h1>AirSonos</h1>
        <h4>airplay to your favorite sonos devices</h4>
	      <p>
	        <a href="https://github.com/stephen/airsonos" class="btn">download from github</a>
	        <a href="https://medium.com/@stephencwan/hacking-airplay-into-sonos-93a41a1fcfbb" class="btn">learn more</a>
	      </p>
      </div>
    </section>
    <footer>
      <div>made by <a href="https://twitter.com/stephencwan">@stephencwan</a></div>
    </footer>
  </body>
</html>
